<section>
    <div class="container">
        <div class="contenedor-principal">

        <div class="row">
            <div class="col-md-4 col-sm-6 col-6">
                <h4>Mi dulceria</h4>
                <h5>Copyright 2024
                    </h5>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam, earum?
                    </p>
               
                
            </div>
            <div class="col-md-2 col-sm-6 col-6">
                <h4>Social </h4>
                <p>lorem</p>
                <p>lorem</p>
                <p>lorem</p>
            </div>
            <div class="col-md-2 col-sm-6 col-6">
                <h4>Ubicacion</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut, inventore!</p>
            </div>
            <div class="col-md-2 col-sm-6 col-6">
                <h4>Mi dulceria</h4>
                <p>lorem</p>
                <p>lorem</p>
                <p>lorem</p>
            </div>
            <div class="col-md-2 col-sm-6 col-6">
                <h4>Mi dulceria</h4>
                <p>lorem</p>
                <p>lorem</p>
                <p>lorem</p>
            </div>
        </div>
       
    </div>
    </div>

</section>

<style>
p{
    margin: 0;
    text-wrap: balance;
    color: white;
    
}
h4{
    color: white;
}
h5{
    color: white;
}
    .contenedor-principal{
        padding-top: 80px;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    section{
        background-size: cover;
    background-repeat: no-repeat;
    height: 50dvh;
  
    background-position: center;
    background-image: url("/footer2.png");
    }
    @media screen and (max-width: 768px){
        section{
            height: auto;
        }
    }
</style>