<section>

    <div class="container">
        <h4>Información</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus ratione dolore eos corporis suscipit accusamus assumenda illo facilis ab mollitia. Lorem ipsum dolor sit amet consectetur, adipisicing elit. At, cum?</p>
    </div>
</section>

<style>
section{

  
}
h4{
    font-weight: bolder;
    text-align: center;
    font-family: cursive;
    font-size: 1.5rem;
}
p{
    font-family: cursive;
    font-size: 1.2rem;
    text-align: center;
    text-wrap: balance;
}
</style>