<nav>
    <div class="container contenedor-items">
        <div class="contenedor-principal">
                <ul>
                    <li>Inicio</li>
                    <li>Informacion</li>
                    <li>Productos</li>
                    <li>Contacto</li>
                </ul>
        </div>
        <div class="contenedor-secundario">
          <img src="cukerlank.png" alt="">
        </div>
        <div class="contenedor-tercero">
            <ul>
                <li>042487541</li>
                <li>mail@correo.com</li>
               
            </ul>
        </div>
    </div>
</nav>

<style>
    img{
        height: 60px;
        object-fit: cover;
        width: auto;
    }
    h2{
        color: white;
        font-style: italic;
    }
    .contenedor-items{
        display: flex;
        justify-content: space-between;
    }
    ul{
        list-style: none;
        display: flex;
        gap:20px;
        color:white;
        font-size: 18px;
    }

    nav{
        display: flex;
        background-image: url("/navbar.png");
        height: auto;
        padding-bottom: 10px;
        background-size: cover;
        position: absolute;    
        width: 100%;
        background-repeat: no-repeat;
        background-position-y: 80%;
    }
    @media screen and (max-width: 390px){
       nav{
        display: none;
       }
    }
</style>