---
import Card from "./Card.astro"

---

<section>
  <div class="container revelar ">
    <div class="row contenedor-principal">
     
     
    <Card title="Torta de Fresa" body="Deliciosa torta de fresa" img="/tortas.png"/>
    <Card title="Torta de Fresa" body="Porción Individual"img="/fresas.webp" />
    <Card title="Torta Chocolate" body="Porción Individual"img="/chocolate.png" />
    <Card title="Torta de Avellana" body="Torta de matequilla de avellana"img="/avellana.png" />
  </div>
</section>

<style>
  .contenedor-principal {
    margin: 0 auto;
    justify-content: center;
  }
  p {
    text-align: center;
    font-weight: bolder;
  }
  
  section {
    height: auto;
    border-bottom: 1px solid black;
    border-radius: 15px;
  }


  
</style>
